/*.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */
  

  *{
    margin: 0;
    padding: 0;
    border: 0;
 }
 html
 {
  scroll-behavior: smooth;
 }
   /* -------------------- Header section -----------------------*/
 header
{
  background-image: url(img/bckgrnd.png) ;
  background-size:cover;
  min-height: 600px;
  
}
header ul 
{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  display: inline;
}

header ul li {
  display: inline-block;
  font-size: 14px;
}

header ul li:not(:last-child) {
  margin-right: 20px; /* Add right margin to all list items except the last one */
}

header ul li a {
  color: #fff;  
  text-decoration: none;
  font-size: 14px;
}

header ul li a:hover {
  text-decoration: underline; 
}
header h1{
  font-family: poppins;
  padding-left: 15px;
  color:#66FCF1;
  font-size: 4em;
}
header h2{
  font-family: poppins;
  font-weight: 300;
  padding-top: 200px;
  padding-left: 15px;
  font-size: 3em;
  color:#fff
}
button.download{
  background-color: #0b0c10;
  border: 2px solid black;
  border-color: #66FCF1;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
  list-style: none;
  margin-left:18px;
  padding:10px;
  margin-top: 30px;
}
button.download li a{
  color:#66FCF1;
  text-decoration: none;

}

header button li a:hover {
  text-decoration: underline;  
}
 nav{
  background-color: rgb(26, 146, 10);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
  float: right;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #45a29E;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

/*--------------------------- why me section --------------------------*/
#whyme{
  font-family: poppins;
  background-color: #0b0C10 ;
  color:#fff;
  
}
#whyme h2{
  font-weight: 200;
  font-size: 3em;
  text-transform: capitalize;
  padding-bottom: 30px;
  color:#fff;
  margin-left: 15px;
  padding-top: 30px;
}
.company{
  align-items: center;
}
.apps
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-gap: 50px;
  text-align: center;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media only screen and (max-width: 480px) {
  .skills {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
.apps h4{
  font-weight: 500;
  color:#45A29E
}


.appi {
  padding: 0;
  border-radius: 5px;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  padding-top: 20px;
  
} 
.cre{
  width: 50px;
  height: 50px;
}
.team{
  width: 90px;
  height: 50px;
}
.amb{
  width: 50px;
  height: 50px;
}
.quick{
  width: 50px;
  height: 50px;
}
.adap{
  width: 50px;
  height: 50px;
}
.ent{
  width: 50px;
  height: 50px;
}
.app h4 {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 5px;
}
/*------------------------------- About Section -----------------------------*/
#about
{
    font-family: poppins;
    background-color: #0b0c10;
    color:#fff
}
#about h2{
font-weight: 200;
font-size: 3em;
text-transform: capitalize;
margin-left: 15px;
padding-bottom: 15px;

}
.introtext p{
  margin-left: 20px;
  max-width: 600px;
}
.shortinfo{
  margin-left: 20px;
}
#about b{
    color:#66FCF1

}

/*--Myskills --*/
#myskills
{
    font-family: poppins;
    background-color: #0b0c10;
    color:#fff
}
#myskills h2{
font-weight: 200;
font-size: 3em;
text-transform: capitalize;
margin-left: 15px;

}
.introtext p{
  margin-left: 20px;
  max-width: 600px;
}
.shortinfo{
  margin-left: 20px;
}
#myskills b{
    color:#66FCF1
}
.skills{
  display: grid;
  grid-template-columns: repeat(3, 2fr); /* Two columns */
  grid-auto-columns: minmax(auto,auto);
  grid-auto-rows: minmax(auto, auto); /* Adjust row height as needed */
  grid-gap: 50px;
  padding-right:20px;
  margin-right: 15px;
  
}
div.container{
    min-width: 100px;
    width: 100%;
    margin: 0 15px;
    border-radius: 7px;
    overflow: hidden;
    margin: 20px;
    padding-right: 20px;

}
.container h4{
  font-size: 1.5em;
  font-weight: 400;
  color:#45A29E
}
@media screen and (max-width: 768px) {
  .skills {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust column width for smaller screens */
  }
}

.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transform: translateY(35px) ;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: #2b2e38
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #66FCF1;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.html{
  width: 40%;
  animation-delay: 0.1s;
}
.skill-per.css{
    width: 40%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 30%;
    animation-delay: 0.2s;
}
.skill-per.SQL{
    width: 60%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: black;
    padding: 2px 6px;
    border-radius: 3px;
    background: #66FCF1;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #66FCF1;
    transform: translateX(-50%) rotate(45deg);
}
/*--- Languages ---*/
  .skill-per.dutch{
    width: 100%;
    animation-delay: 0.1s;
  }
  .skill-per.french{
      width: 70%;
      animation-delay: 0.1s;
  }
  .skill-per.english{
      width: 90%;
      animation-delay: 0.2s;
  }
  .skill-per.german{
      width: 50%;
      animation-delay: 0.3s;
  }
  /*-- software --*/
  
  .skill-per.photoshop{
    width: 80%;
    animation-delay: 0.1s;
  }
  .skill-per.illustrator{
      width: 80%;
      animation-delay: 0.1s;
  }
  .skill-per.premierepro{
      width: 70%;
      animation-delay: 0.2s;
  }
  .skill-per.xd{
      width: 70%;
      animation-delay: 0.3s;
  }
  .skill-per.aftereffects{
    width: 70%;
    animation-delay: 0.3s;
}

/*--Office--*/
.skill-per.excel{
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.powerpoint{
    width: 80%;
    animation-delay: 0.1s;
}
.skill-per.word{
    width: 80%;
    animation-delay: 0.2s;
}
.skill-per.outlook{
    width: 80%;
    animation-delay: 0.3s;
}
/*--Other--*/
.skill-per.binance{
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.vsc{
    width: 40%;
    animation-delay: 0.1s;
}
.skill-per.jasper{
    width: 60%;
    animation-delay: 0.2s;
}
.skill-per.jira{
    width: 80%;
    animation-delay: 0.3s;
}
/*------------------------------- experience section ---------------------------*/
#experience
{
  
    font-family: poppins; 
    background-color: #0b0c10;
    color:#fff;
    white-space: 5px;
    padding-top: 5px;
    
}
#experience h2{
  font-weight: 200;
  margin-left: 15px;
}
#experience .project{
  padding-top: 5px;
}
#experience li{
  padding-top: 5px;
  text-decoration: none;
  list-style: none;
}
#experience h3{
  font-family: poppins;
  font-weight: 600;
}
#experience li{
  font-family: poppins;
  font-weight: 300;
}
.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #fff;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #66FCF1;
       	 
	background: linear-gradient(to right, #66FCF1 0%,#1F2833 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
  font-size: 14px;
  color:#fff;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}


#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #1F2833;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #66FCF1;	 
	background: linear-gradient(to right, #45a29E 0%,#66FCF1 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #1F2833;
	border-radius: 4px;
  }

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}
#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#fff;
	letter-spacing:1px;
}
img{
height:100px;
width:100px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#fff;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
/*------------------------------- contact section ---------------------------*/
#contact
{
    font-family: poppins;
    padding-left: 10px;
}
#contact h2{
  font-weight: 200;
  margin-top: 20px;
}
/*------------------------------- socialmedia section ---------------------------*/
.social-media{
  margin-left: 15px;
  margin-bottom: 15px;
}


.social-media img
{
    width: 40px;
    height: 40px;
   
}
.social-media a {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.social-media a:hover {
    transform: scale(1.2); /* Increase size on hover */
}

/* WebKit animation for browser compatibility */
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.social-media a:hover {
    -webkit-animation: pulse 0.5s ease; /* Apply animation on hover */
}

/*------------------------------- footer section ---------------------------*/
footer
{
    font-family: poppins;
    padding-left: 25px;
}